/* Stile per il campo input */
#taskInput {
    width: 70%;
    height: 40px;
    font-size: 18px;
    padding: 8px;
  }
  /* Stile per separare elementi */
  #taskInput, #addTaskButton {
    display: block;
    margin: 10px auto;
  }
  